.gameboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}

.board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 70%;
    width: 80%;
}

#person {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 30%;
    width: 12%;
    border: 1px solid black;
}

.people-image {
    height: 100%;
    width: 100%;
}